{
    "parserOptions": {
        "ecmaVersion": 8
    },
    "extends": "hapi",
    "rules": {
        "brace-style": ["warn", "stroustrup", { "allowSingleLine": true }],
        "hapi/hapi-scope-start": "off"
    }
}
