language: node_js
node_js:
  - '8'
  - '9'
  - '10'
  
sudo: required

before_install:
  - npm install -g node-gyp

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-5
